body{
    background-color: #333;
    color: whitesmoke;
}

h1{
   text-align: center; 
   color: red;
}

label{
    font-size: 100px;
    display: block;
    text-align: center;
    cursor: pointer;
}

input#chx{
    display: none;
}

.box{
    height: 71vh;
    background-color: rgb(208, 88, 190);
}

#chx:checked + div.box{
    background-color: crimson;
}
