*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
    color: white;
}

h1{
    text-align: center;
    color: crimson;
}

.container{
    border: 3px solid white;
    height: 90vh;
    display: flex;
    /* flex-direction => row */
    /* flex-direction => column */
    /* flex-direction: row-reverse; */
    flex-direction: column-reverse;
}


.box{
    width: 100px;
    height: 100px;
    background-color: deeppink;
    border: 2px solid greenyellow;
    /* display: inline-block; */
}