h1 {
  text-align: center;
  color: red;
}
ol,
ul {
  list-style-type: none;
}

.ordered-list {
  list-style-type: decimal-leading-zero;
}
.unordered-list {
  list-style-type: square;
}
.emoji-list {
  list-style-type: "🔥";
}
.custom-image{
   list-style-image: url("../images/camera.png"); 
   list-style-position: inside;
}
