*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: #333;
    color: white;
}
h1{
    text-align: center;
    color: red;
}
.container{
    background-color: black;
    height: 80vh;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.yellow-box{
    background-color: yellow;
    flex: 3;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.beige-box{
    background-color: bisque;
    flex: 2;
}
.red-box{
   background-color: red;
   flex: 4;
   /* display: flex; 
   gap: 10px;
   flex-wrap: wrap;
   padding: 10px 10px 0px 10px; */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
   align-items: flex-end;
}

.blue-box{
    background-color: rgb(0, 140, 255);
     /* flex:1 1 50px;     */
     width: 50px;
     height: 50px;
}
.green-box{
    background-color: rgb(105, 196, 105);
    flex:1;
    
}
.brown-box{
    background-color: rgba(135, 19, 19, 0.696);
   flex: 4;
}

