*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    color: red;
}

/* content-box */

.container{
    width: 500px;
    height: 500px;
    background-color: coral;
    padding: 50px;
    border: 15px solid red;
    margin: 10px;
}
/* border box */
.container2{
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    background-color:blue;
      padding: 50px;
    border: 15px solid red;
    margin: 10px;
}