*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: red;
    margin: 20px;
}

.image-container{
  background-image: url('/day08/assets/imh2.jpg'); 
  width: 100%;
  height: 300px;
  border: 10px solid pink; 
  /*DEFAULT background-repeat: repeat olarak gelir  */
  background-repeat: no-repeat;
  /* background-repeat: repeat-x; */
  /* background-repeat: repeat-y; */
   /* ilk deger yataydir ve left, right ve center alabilir */
   /* ikinci deger dikeydedir ve top, bottom, center alabilir */
   /* iki degere de center verilmek isteniyorsa tek bir center yazilmasi  yeterlidir*/
  background-position: center;
  /* background-position: right bottom; */
  /* background-position: left bottom; */
  /* background-position: center top; */

  /* background-size: cover; resmin gerekirse kirpara tasiyicinin tamamini kaplayacak sekilde buyur */
  /* background-size: cover; */
  background-size: contain;
  /* background-size: contain; resmin tamamini gostermek icinkullanilir. resimden hic bi kayip olmaz ama dis kisimlarinda boslukk olusabilir */

  /* background-size: 300px 400px; gibi degerler de verilebilir ama cok saglikli degil  */

}

.image-container2{
    width: 100%;
    height: 300px;
    border: 15px solid red;
    margin: 50px 0;
    background-image: url("/day08/assets/img.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


