*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: red;
}

.container{
    height: 700px;
    background-color: bisque;
    border: 5px solid salmon;
    position: relative;
}
.box{
    width: 100px;
    height: 100px;
}

.box1{
background-color: red;
}
.box2{
 background-color: green;
 position: absolute;  
 top: 10px; 
 right: 10px;

 display: flex;
 align-items:  center;
 justify-content: center;
 text-align: center;
 color: aliceblue;
}
.box3{
  background-color: blue;  
}