body{
    background-color: #333;
    color: white;
}

h1{
    text-align: center;
    color: red;
}
p.para{
    display: inline;
}
span{
    display: block;
}

button{
    display: block;
    margin: 20px;
    width: 100px;
    height: 25px;
}

a{
   display: block; 
   padding: 10px 20px;
   text-decoration: none;
   color: lightgray;
   width: 150px;
   height: 50px;
   text-align: center;
}

a:hover{
  background-color: black;
  color: white;
}

.container{
    padding: 10px;
    border: 3px solid crimson;
    border-radius: 5px;
}

.container .card{
    border: 1px solid chartreuse;
    padding: 10px;
    margin: 10px;
}